$back: #c8102e
$navGrey: #888b8d
$navGreyHover: #54585a

html, body 
    padding: 0
    margin: 0

nav 
    background-color: $back
    padding: 0
    margin: 0
    ul 
        margin: 0
        list-style-type: none
        color: #ffffff
        background-color: $navGrey
        li
            display: inline-block
            &:hover
                display: inline-block
                background-color: $navGreyHover
    