$back: #c8102e
$navGrey: #888b8d
$navGreyHover: #54585a
$padNav: 3%

html, body 
	padding: 0
	margin: 0
	font-family: Arial, Helvetica, sans-serif

iframe
	display: inline-block

nav 
	position: sticky
	z-index: 1
	background-color: $back
	padding: 0
	margin: 0
	color: white
	#logo
		h1
			margin: 0
			padding: 1%
			padding-left: $padNav + .1%
			padding-right: .17em
			display: inline-block
		h4
			display: inline-block 
	ul 
		margin: 0
		list-style-type: none
		color: white
		background-color: $navGrey
		padding-left: $padNav
		font-weight: bold
		li
			display: inline-block
			text-decoration: none
			padding: 0.5%
			a
				text-decoration: none
				color: white
				min-width: inherit
			&:hover
				background-color: $navGreyHover
				.dropdown
					display: block
					position: absolute
					width: auto
					margin: 0
					padding: 0.5%
					margin-left: -0.5%
					li
						display: block
						width: inherit
						padding: 0.5%
			.dropdown
				display: none
				position: relative
				float: none

#container
	width: 95%
	margin-right: auto
	margin-left: auto
	margin-top: 1%

footer
	width: 100%
	min-height: 10%
	background-color: $back
	border-top: .5em solid $navGrey
	color: white
	margin-top: 1%
	overflow-y: hidden
	#contact	
		margin-left: 5%
		margin-top: 1%
		margin-bottom: 1%
		font-weight: bold
		p
			display: inline-block
		*
			padding: 0
			margin: 0
			width: auto
		a
			color: white
		> *
			display: inline-block
			margin-right: 1%
			vertical-align: text-top