extends template.pug

block content
	div(id="slides")
		div(id="slideshow")
			img(src="/res/slideshow/loading.gif" id="shown")
			div(id="buttons")
	div(id="resume")
		h1 Introduction
		p 
			| Hello! I'm David Gutierrez, the creator of this website. I made this website
			| to introduce myself and demonstrate my labs. I am in 11th grade and love
			| physics, computer science, and problem-solving. Because of this, I want to be an
			| electrical engineer, mechanical engineer, or programmer. I also enjoy outreach.
			| I volunteer at a local elementary school, teaching young children how to program.
			| They program in Scratch and learn to use programs such as LEGO Mindstorms.
			| Additionally, I am Vice President of Clements Habitat for Humanity. I enjoy
			| helping people get the resources they need. I volunteer to build and restore houses
			| for people for almost no cost to them. 
		h1 David's Academic Interests
		ul(id="interests")
			li Physics
				ul
					li I took the FMA exam
					li I have particpated in three inventathons, hosted by Inventor's Club.
			li Computer Science
				ul 
					li Computer Science Club
						ul  
							li I participate as an officer. I am Team Tech Lead.
							li I have placed at various competitions.
					li Personal Projects
						ul
							li 
								| I have made many personal projects like this very website. 
								| This website is built on Node.js, is powered by Express.js, 
								| uses Pug as the template engine, and uses Sass as the CSS preprocessor.
							li I have made many games like Snake, Pong, Chess, and A Gravity Simulator.
							li 
								| I built a website for Computer Science Competitions to help ease the 
								| difficulty of grading.
			li Spanish
				ul
					li I have taken Spanish all the way up to Spanish 4 AP
					li Even though I speak Spanish at home, I did not start learning up until seventh grade

block append head	
	link(rel="stylesheet" href="/css/index.css")
	script(src="/js/index.js")
