html
    head
        title Physics II - David Gutierrez
        link(rel='stylesheet' href='css/main.css')
    body
        nav
            ul
                li 
                    a(href="/") Home
                li 
                    a(href="/david") David
                li 
                    a(href="/hello") HELLO