html
	head
		block head
			title Physics II - David Gutierrez
			link(rel='stylesheet' href='/css/main.css')
			script(src="/js/jquery.min.js")
	body
		nav
			div(id="logo")
				h1 Physics II Portfolio 
				h4 
					em by David Gutierrez
			ul
				li 
					a(href="/") Home
				li 
					a(href="#") Labs
					- var labs = ["Mass vs. Volume", "Hydrostatic Pressure", "Ideal Gasses", "Triboelectric Effect", "Charge Distrobution", "Electric Field Mapping", "RC Circuits", "Faraday's Law Simulation", "Apertures", "Law of Reflection", "Snell's Law", "Total Internal Reflection", "Covnex and Concave Lenses", "Images of Convex Images", "Images of Concave Images", "Hollow Lens", "Mallus's Law", "Slit Interference", "Photoelectric Effect"]
					ul(class='dropdown')
						- for(var i = 0; i < labs.length; i++)
							li
								a(href="/lab/"+(i+1))= labs[i]
				li
					a(href="/apreview") AP Review Project
		div(id="container")
			block content
		footer
			div(id="contact")
				div
					p David Gutierrez
					- var email = "david.a.gutierrez99@gmail.com";
					br
					p Email: 
						a(href="mailto:" + email) #{email}
				div
					p Period: 7                        