#project {
  width: 49%;
  height: 80%;
  padding-right: 2%;
  float: left;
}
#project > iframe {
  width: 100%;
  height: 80%;
}

#right {
  width: 49%;
  height: 80%;
  float: right;
}
#right > iframe {
  width: 100%;
  height: 80%;
}

#bottom {
  width: 49%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#bottom > iframe {
  width: 100%;
  height: 80%;
}